<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mesto</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <script src="<%= htmlWebpackPlugin.files.js %>" defer></script>
</head>

<body>
  <div class="root">
    <header class="header root__section">
      <img src="<%=require('images/logo.svg').default%>" alt="mesto logo" class="logo">
    </header>
    <div class="profile root__section">
      <div class="user-info">
        <div class="user-info__photo"></div>
        <div class="user-info__data">
          <h1 class="user-info__name"></h1>
          <p class="user-info__job"></p>
          <button class="button user-info__button user-info__button_edit">Edit</button>
        </div>
        <button class="button user-info__button user-info__button_add">+</button>
      </div>
    </div>

    <div class="places-list root__section"></div>

    <div class="popup popup_type_place">
      <div class="popup__content">
        <img src="<%=require('images/close.svg').default%>" alt="Закрыть" class="popup__close">
        <h3 class="popup__title">Новое место</h3>
        <form class="popup__form" name="place" novalidate>
          <input type="text" id="card-name" name="name" class="popup__input popup__input_type_name" placeholder="Название" minlength="2" maxlength="30" required>
          <span id="card-name-error" class="popup__error-message" role="status" aria-live="polite"></span>
          
          <input type="URL" id="link" name="link" class="popup__input popup__input_type_link-url" placeholder="Ссылка на картинку" required>
          <span id="link-error" class="popup__error-message" role="status" aria-live="polite"></span>

          <button type="submit" class="button popup__button popup__button_add-place" aria-label="Добавить место" disabled>+</button>
        </form>
      </div>
    </div>

    <div class="popup popup_type_profile">
      <div class="popup__content">
        <img src="<%=require('images/close.svg').default%>" alt="Закрыть" class="popup__close">
        <h3 class="popup__title">Редактировать профиль</h3>
        <form class="popup__form" name="profile" novalidate>

          <input type="text" id="user-name" name="userName" class="popup__input popup__input_type_user-name" placeholder="Имя" minlength="2" maxlength="30" required>
          <span id="user-name-error" class="popup__error-message" role="status" aria-live="polite"></span>

          <input type="text" id="job" name="userJob" class="popup__input popup__input_type_user-job" placeholder="Обо мне" minlength="2" maxlength="30" required>
          <span id="job-error" class="popup__error-message" role="status" aria-live="polite"></span>

          <button type="submit" class="button popup__button popup__button_edit-profile" aria-label="Сохранить изменения">Сохранить</button>
        </form>
      </div>
    </div>

    <div class="popup popup_type_image image-popup">
      <div class="image-popup__container">
        <img class="image-popup__image" alt="" src="">
        <img src="<%=require('images/close.svg').default%>" alt="Закрыть" class="image-popup__close popup__close">
      </div>
    </div>

    <div class="popup popup_type_avatar">
      <div class="popup__content">
        <img src="<%=require('images/close.svg').default%>" alt="Закрыть" class="popup__close">
        <h3 class="popup__title">Обновить аватар</h3>
        <form class="popup__form" name="avatar" novalidate>

          <input type="URL" id="avatar" name="avatar" class="popup__input popup__input_type_avatar" placeholder="Ссылка на аватар" required>
          <span id="avatar-error" class="popup__error-message" role="status" aria-live="polite"></span>

          <button type="submit" class="button popup__button popup__button_edit-profile" aria-label="Сохранить изменения">Сохранить</button>
        </form>
      </div>
    </div>
  </div>

  <template id="place-card" style="display: none;">
    <div class="place-card">
      <div class="place-card__image">
        <button class="place-card__delete-icon"></button>
      </div>
      <div class="place-card__description">
        <h3 class="place-card__name"></h3>
        <div class="place-card__like-container">
          <button class="place-card__like-icon"></button>
          <span class="place-card__counter"></span>
        </div>
      </div>
    </div>
  </template>

</body>

</html>